# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
venv/
ENV/
env/
venv.bak/

# Editor directories and OS files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# PIP environment files
pip-log.txt
pip-delete-this-directory.txt

# MongoDB dump files
dump/

# Env files
.env
